
body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: #E5E5E5;
}

main {
	display: flex;
}

#button_offcanvas {
	position: fixed;
	user-select: none;
	top: 5%;
	left: 5%;
	border-color: #E5E5E5;
	background-color: transparent;
	border-width: 0.1em;
	border-radius: 1em;
	padding: 0 0.5em;
	font-size: 2em;
	font-family: Alsina;
	color: white;
	transition: all .2s ease-in-out;
}
#button_offcanvas:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.offcanvas{
	background-color: #04061D;
	flex-direction:column;
	width: 20%;
}
.offcanvas-body{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.offcanvas-body a{
	text-decoration: none;
	font-family: BalooTamma;
	font-size: 2em;
	color: white;
	margin: 5%;
}

#field_layout span {
	font-size: 3em;
	font-family: BalooTamma;
	width: 40%;
	display: block;
}

#field {
	/*user-select: none;*/
	border: 1px solid #333;
	color: #FFD1AA;
}
#field td {
	padding: 0;
	background-color: rgba(238, 238, 210, 0.9);
}
#field tr:nth-child(odd) td:nth-child(even),
#field tr:nth-child(even) td:nth-child(odd) {
	background-color: rgba(118, 150, 86, 0.9);
}


#multitask_window {
	width: 38%;
	height: 100%;
	background-color: #04061D;
	border-radius: 20px;
	display: flex;
	font-family: Comic Sans MS;
	flex-direction: column;
}
#icon_display {
	width: 100%;
	height: 12.5%;
	background-color: #01020D;
	border-radius: 20px 20px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}#icon_display img {
	user-select: none;
	height: 60%;
	margin-top: auto;
	margin-bottom: auto;
	filter: brightness(0) invert(1);
	transition: all .2s ease-in-out;
}#icon_display img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
#message_group {
	width: 92.5%;
	height: 80%;
	background-color: grey;
}
#message_display {
	height: 97.5%;
	background-color: grey;
	border-radius: 10px 10px 0 0;
}
#message_box {
	position: relative;
	bottom: 0;
}#message_box input{
	border-radius: 0 0 0 10px;
}#message_box button{
	border-radius: 0 0 10px 0;
}

.card_disp {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 0.4em;
	font-family: CU;
	/*font-weight: bold;*/
	user-select: none;
}
.image_disp {
	width: 100%;
	height: 100%;
}.icon_disp {
	position: absolute;
	height: 75%;
	top: 12.5%;
	left: 22.5%;
	border-radius: 50%;
}.border_disp {
	position: absolute;
	height: 100%;
	left: 12.5%;
	top: 0;
}
.attack_disp {
	position: absolute;
	bottom: 7.5%;
	left: 20%;
	color: white;
}.hp_disp {
	position: absolute;
	bottom: 7.5%;
	right: 20%;
	color: white;
}

@font-face { /* https://www.google.com/get/noto/#noto-emoji-zsye */
  font-family: Noto;
  src: local("Noto Emoji"), local("Noto Color Emoji"), local("Noto"), 
	   url("https://cdn.rawgit.com/googlei18n/noto-emoji/master/fonts/NotoEmoji-Regular.ttf");
}
@font-face { /* https://www.google.com/get/noto/#noto-emoji-zsye */
  font-family: BalooTamma;
  src: url("../fonts/BalooTamma-Regular.ttf");
}
@font-face { /* https://www.google.com/get/noto/#noto-emoji-zsye */
  font-family: Alsina;
  src: url("../fonts/Alsina Ultrajada.ttf");
}
@font-face { /* https://www.google.com/get/noto/#noto-emoji-zsye */
  font-family: CU;
  src: url("../fonts/Cry Uncial Regular.ttf");
}